@{
    ViewData["Title"] = "Home Page";
}

Year:    @ViewBag.Date.Year <br />
Name:   @ViewBag.Friend.Name <br />
Phone:    @ViewBag.Friend.Phone <br />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
