body {
    font-family: Arial;
}

h1 {
    color: #5E889E;
}

.header img {
    float: left;
    height: 35px;
    background: #FFF;
}

.header h1 {
    position: relative;
    top: 0px;
    left: 10px;
}
