@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post" action="@Url.Action("ChangePassword", "User")">
    Username: <input type="text" name="username"><br>
    New password: <input type="password" name="password"><br>
    <input type="submit" value="Submit" />
</form>

<br />

<form method="post" action="@Url.Action("Update", "Friends")">
    <label>Name:</label>
    <input type="text" name="Friend.Name" />
    <br />
    <label>Age:</label>
    <input type="text" name="Friend.Age" />
    <br />
    <input type="submit" value="Submit" />
</form>